
body {
  margin: 0;
  overflow-x: hidden!important;
}


.downbtn{
  color:#FFF;
  position: relative;
  text-align: right;
  margin: 0;

}
.app-title{
  /* background-color: coral; */
  position: relative;
  /* top: 5vh; */
  text-align: center;
  color: #fff;
  margin: 0;
  top: 10%;

}

.player {
  /* background-image: url('img/dog.jpg'); */
  background-color: dimgray;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
}

.player-timer {
  position: relative;
  height: 60vh;
}

.player-timer-circle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  height: 200px;
  width: 200px;
}

.player-timer-btn {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-54%, -50%);
  height: 50px;
  width: 50px;
}

.timeDisplay {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-weight: 100;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}

.headline1{
  background-color: dimgray;
  width: 100%;
  height: auto;  
  text-align: center;
}

.title {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 24px 24px 0 0;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}

.selection-bar {
    background-color: #757575;
    display: inline-block;
    width: 40px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-top: 20px;
}

.title-headline {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 1.2rem;
}

.title-description {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 1rem;
  text-align: center;
}

.selection{
  /* background-color:gold; */
  display: flex;
  height: 40vh;
  width: 100%;
}
.soundList {
  /* background-color: lawngreen; */
  margin: 0px;
  height: auto;
  width: 50%;
}
.case_hr_text{
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;  
}

.soundList-text {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}

.soundList-image {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.soundList-item {
  /* background-color: goldenrod; */
  width: 50vw;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.soundList-title {
  /* background-color: khaki; */
  font-size: 1rem;
  font-weight: bold;
  display: block;
}

.soundList-description {
  font-size: 1.0rem;
  display: block;
  color: #333;
  /* font-weight: bold; */
}

.control1 {
  /* background-color:chocolate; */
  margin: 0px;
  height: auto;
  width: 50%; 
}

.HeartRateArea{
  /* background-color: deeppink; */
  display: flex;
  align-items: center;

}

.HR-DOWN-Botton,
.HR-UP-Botton{
  -webkit-appearance:none;
  background: #03A9F4;
  color: #FFF;
  border-style: solid;
  border-width: 2px;
  border-color:#333;
  width: calc(100% / 3) ;
  height: 40px;
  position: relative;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 4px;
}

.HRValue{
  display:table-cell;
  text-align: center;     
  vertical-align:middle;
  background-color: rgb(229, 248, 248);
  border-style: solid;
  border-width: 2px;
  border-color:#333;
  border-radius: 4px;
  position: relative;  
  width: calc(100% / 3) ;
  height: auto;
  font-size: 26px;

}